Test/xsd/inhouse/4.4.0/product/messageXDSL-B.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- $Revision: 53059 $ $LastChangedDate: 2014-07-29 09:42:41 +0200 (Di, 29 Jul 2014) $ -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:messageXDSL-B="http://www.flexagon.de/wita/messageXDSL-B/"
    xmlns:segmentsWITA="http://www.flexagon.de/wita/segments/" 
    xmlns:message="http://www.flexagon.de/inhouse/message/" 
    targetNamespace="http://www.flexagon.de/wita/messageXDSL-B/"    
    elementFormDefault="unqualified">
	<!-- 
	   Imports 
	-->
	<xs:import namespace="http://www.flexagon.de/wita/segments/" schemaLocation="../segments/segmentsWITA.xsd"/>
	<xs:import namespace="http://www.flexagon.de/inhouse/message/" schemaLocation="message.xsd"/>
		
	<xs:complexType name="MessageXDSL-BType">
        <xs:annotation>
            <xs:documentation xml:lang="en">                
            </xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="messageXDSL-B-QEB" type="messageXDSL-B:MessageXDSL-B-QEBType"/>
            <xs:element name="messageXDSL-B-ABM" type="messageXDSL-B:MessageXDSL-B-ABMType"/>
            <xs:element name="messageXDSL-B-ERLM" type="messageXDSL-B:MessageXDSL-B-ERLMType"/>
            <xs:element name="messageXDSL-B-ENTM" type="messageXDSL-B:MessageXDSL-B-ENTMType"/>
            <xs:element name="messageXDSL-B-VZM" type="messageXDSL-B:MessageXDSL-B-VZMType"/>
            <xs:element name="messageXDSL-B-TAM" type="messageXDSL-B:MessageXDSL-B-TAMType"/>
             <xs:element name="messageXDSL-B-MTAM" type="messageXDSL-B:MessageXDSL-B-MTAMType"/>
            <xs:element name="messageXDSL-B-ABBM" type="messageXDSL-B:MessageXDSL-B-ABBMType"/>           
            <xs:element name="messageXDSL-B-ABM-PV" type="messageXDSL-B:MessageXDSL-B-ABM-PVType"/>
            <xs:element name="messageXDSL-B-ERLM-PV" type="messageXDSL-B:MessageXDSL-B-ERLM-PVType"/>
            <xs:element name="messageXDSL-B-ENTM-PV" type="messageXDSL-B:MessageXDSL-B-ENTM-PVType"/>
            <xs:element name="messageXDSL-B-ABBM-PV" type="messageXDSL-B:MessageXDSL-B-ABBM-PVType"/>
            <xs:element name="messageXDSL-B-VZM-PV" type="messageXDSL-B:MessageXDSL-B-VZM-PVType"/>
        </xs:choice>
    </xs:complexType>  
    
    <xs:complexType name="MessageXDSL-BRequestType">
        <xs:annotation>
            <xs:documentation xml:lang="en">                
            </xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="messageXDSL-B-AKM-PV" type="messageXDSL-B:MessageXDSL-B-AKM-PVType"/>
			<xs:element name="messageXDSL-B-ERLM" type="messageXDSL-B:MessageXDSL-B-ERLMType"/> 
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="MessageXDSL-BResponseType">
        <xs:annotation>
            <xs:documentation xml:lang="en">                
            </xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="messageXDSL-B-RUEM-PV" type="messageXDSL-B:MessageXDSL-B-RUEM-PVType"/>
            <xs:element name="messageXDSL-B-ERLM-K" type="messageXDSL-B:MessageXDSL-B-ERLM-KType"/>
        </xs:choice>
    </xs:complexType> 
    
    
    
    
    <xs:complexType name="MessageXDSL-B-QEBType">
        <xs:annotation>
            <xs:documentation xml:lang="en">                
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="message:MessageQEBType">        
                <xs:sequence>
                	<xs:element name="messageCodeQEB" maxOccurs="unbounded" type="messageXDSL-B:MessageCodeXDSL-B-QEBType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType> 
     
	<xs:complexType name="MessageXDSL-B-ABMType">
        <xs:annotation>
            <xs:documentation xml:lang="en">                
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
	        <xs:extension base="message:MessageABMType">        
		        <xs:sequence>
		        	<xs:element name="dtagContractNumber" type="segmentsWITA:W006-DtagContractNumberType"/>
		        	<xs:element name="numberPorting" minOccurs="0" type="segmentsWITA:MessageNumberPortingType"/>
		        	<xs:element name="productXDSL-B-ABM" maxOccurs="unbounded" type="messageXDSL-B:ProductXDSL-B-ABMType"/>
		            <xs:element name="messageCodeABM" maxOccurs="unbounded" type="messageXDSL-B:MessageCodeXDSL-B-ABMType"/> 
		        </xs:sequence>
	        </xs:extension>
	    </xs:complexContent>
    </xs:complexType>	  

    <xs:complexType name="MessageXDSL-B-ERLMType">
        <xs:annotation>
            <xs:documentation xml:lang="en">                
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="message:MessageERLMType">        
                <xs:sequence>
                	<xs:element name="productXDSL-B-ERLM" maxOccurs="unbounded" type="messageXDSL-B:ProductXDSL-B-ERLMType"/>
                	<xs:element name="messageCodeERLM" maxOccurs="unbounded" type="messageXDSL-B:MessageCodeXDSL-B-ERLMType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>   

    <xs:complexType name="MessageXDSL-B-ERLM-KType">
        <xs:annotation>
            <xs:documentation xml:lang="en">                
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="message:MessageERLM-KType">        
                <xs:sequence>
                    <xs:element name="messageCodeERLM-K" maxOccurs="unbounded" type="messageXDSL-B:MessageCodeXDSL-B-ERLM-KType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>   

    <xs:complexType name="MessageXDSL-B-ENTMType">
        <xs:annotation>
            <xs:documentation xml:lang="en">                
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="message:MessageENTMType">        
                <xs:sequence>
                	<xs:element name="productXDSL-B-ENTM" maxOccurs="unbounded" type="messageXDSL-B:ProductXDSL-B-ENTMType"/>
                	<xs:element name="messageCodeENTM" maxOccurs="unbounded" type="messageXDSL-B:MessageCodeXDSL-B-ENTMType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>   

    <xs:complexType name="MessageXDSL-B-VZMType">
        <xs:annotation>
            <xs:documentation xml:lang="en">                
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="message:MessageVZMType">        
				<xs:sequence>       
					<xs:element name="messageCodeVZM" maxOccurs="unbounded" type="messageXDSL-B:MessageCodeXDSL-B-VZMType"/>
				</xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>   

    <xs:complexType name="MessageXDSL-B-ABBMType">
        <xs:annotation>
            <xs:documentation xml:lang="en">                
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="message:MessageABBMType">        
                <xs:sequence>
                	<xs:element name="messageCodeABBM" maxOccurs="unbounded" type="messageXDSL-B:MessageCodeXDSL-B-ABBMType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType> 
    
    <xs:complexType name="MessageXDSL-B-TAMType">
        <xs:annotation>
            <xs:documentation xml:lang="en">                
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="message:MessageTAMType">        
				<xs:sequence>       
					<xs:element name="messageCodeTAM" maxOccurs="unbounded" type="messageXDSL-B:MessageCodeXDSL-B-TAMType"/>
				</xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>  
    
    <xs:complexType name="MessageXDSL-B-MTAMType">
        <xs:annotation>
            <xs:documentation xml:lang="en">                
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="message:MessageMTAMType">        
				<xs:sequence>       
					<xs:element name="messageCodeMTAM" maxOccurs="unbounded" type="messageXDSL-B:MessageCodeXDSL-B-MTAMType"/>
				</xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>  

    <xs:complexType name="MessageXDSL-B-AKM-PVType">
        <xs:annotation>
            <xs:documentation xml:lang="en">                
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="message:MessageAKM-PVType">        
                <xs:sequence>
                	<xs:element name="numberPorting" minOccurs="0" type="segmentsWITA:MessageNumberPortingType"/>
        			<xs:element name="messageCodeAKM-PV" maxOccurs="unbounded" type="messageXDSL-B:MessageCodeXDSL-B-AKM-PVType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>   

    <xs:complexType name="MessageXDSL-B-RUEM-PVType">
        <xs:annotation>
            <xs:documentation xml:lang="en">                
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="message:MessageRUEM-PVType">        
                <xs:sequence>
                	<xs:element name="messageCodeRUEM-PV" maxOccurs="unbounded" type="messageXDSL-B:MessageCodeXDSL-B-RUEM-PVType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>   

    <xs:complexType name="MessageXDSL-B-ABM-PVType">
        <xs:annotation>
            <xs:documentation xml:lang="en">                
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="message:MessageABM-PVType">        
                <xs:sequence>
                	<xs:element name="messageCodeABM-PV" maxOccurs="unbounded" type="messageXDSL-B:MessageCodeXDSL-B-ABM-PVType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>   

    <xs:complexType name="MessageXDSL-B-ERLM-PVType">
        <xs:annotation>
            <xs:documentation xml:lang="en">                
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="message:MessageERLM-PVType">        
                <xs:sequence>
                	<xs:element name="messageCodeERLM-PV" maxOccurs="unbounded" type="messageXDSL-B:MessageCodeXDSL-B-ERLM-PVType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>   

    <xs:complexType name="MessageXDSL-B-ENTM-PVType">
        <xs:annotation>
            <xs:documentation xml:lang="en">                
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="message:MessageENTM-PVType">        
                <xs:sequence>
                	<xs:element name="messageCodeENTM-PV" maxOccurs="unbounded" type="messageXDSL-B:MessageCodeXDSL-B-ENTM-PVType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>   

    <xs:complexType name="MessageXDSL-B-ABBM-PVType">
        <xs:annotation>
            <xs:documentation xml:lang="en">                
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="message:MessageABBM-PVType">        
                <xs:sequence>
                	<xs:element name="messageCodeABBM-PV" maxOccurs="unbounded" type="messageXDSL-B:MessageCodeXDSL-B-ABBM-PVType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>   
    
    <xs:complexType name="MessageXDSL-B-VZM-PVType">
        <xs:annotation>
            <xs:documentation xml:lang="en">                
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="message:MessageVZM-PVType">        
                <xs:sequence>
                	<xs:element name="messageCodeVZM-PV" maxOccurs="unbounded" type="messageXDSL-B:MessageCodeXDSL-B-VZM-PVType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ProductXDSL-B-ABMType">
        <xs:annotation>
            <xs:documentation xml:lang="en">                
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>  
            <xs:element name="product" type="segmentsWITA:W016-ProductWithActionCodeType"/> 
        </xs:sequence>
    </xs:complexType> 
    
    <xs:complexType name="ProductXDSL-B-ERLMType">
        <xs:annotation>
            <xs:documentation xml:lang="en">                
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>  
            <xs:element name="product" type="segmentsWITA:W016-ProductWithActionCodeType"/> 
        </xs:sequence>
    </xs:complexType> 
    
    <xs:complexType name="ProductXDSL-B-ENTMType">
        <xs:annotation>
            <xs:documentation xml:lang="en">                
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>  
            <xs:element name="product" type="segmentsWITA:W016-ProductWithActionCodeType"/> 
        </xs:sequence>
    </xs:complexType> 
   
    
        
     
     <xs:complexType name="MessageCodeXDSL-B-QEBType">
        <xs:annotation>
            <xs:documentation xml:lang="en">                
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="messageCode" type="segmentsWITA:W038-MessageCodeType"/>
            <xs:element name="contactTelekom" minOccurs="0" type="segmentsWITA:W008-ContactType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MessageCodeXDSL-B-ABMType">
        <xs:annotation>
            <xs:documentation xml:lang="en">                
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="messageCode" type="segmentsWITA:W038-MessageCodeType"/>
            <xs:element name="contactTelekom" minOccurs="0" type="segmentsWITA:W008-ContactType"/>
        </xs:sequence>
    </xs:complexType> 
    
    <xs:complexType name="MessageCodeXDSL-B-ERLMType">
        <xs:annotation>
            <xs:documentation xml:lang="en">                
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="messageCode" type="segmentsWITA:W038-MessageCodeType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="MessageCodeXDSL-B-ENTMType">
        <xs:annotation>
            <xs:documentation xml:lang="en">                
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="messageCode" type="segmentsWITA:W038-MessageCodeType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="MessageCodeXDSL-B-ABBMType">
        <xs:annotation>
            <xs:documentation xml:lang="en">                
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="messageCode" type="segmentsWITA:W038-MessageCodeType"/>
            <xs:element name="closingDateOpenOrder" minOccurs="0" type="segmentsWITA:W028-TargetDateType"/>
            <xs:element name="alternativeProduct" minOccurs="0" type="segmentsWITA:W046-AnternativProductType"/>
            <xs:element name="locationCorrection" minOccurs="0" type="segmentsWITA:W031-LocationCorrectionType"/>
            <xs:element name="errorOrderNumber" minOccurs="0" type="segmentsWITA:W054-ErrorOrderNumberType"/>  
            <xs:element name="numberPortingCorrection" minOccurs="0" maxOccurs="1" type="segmentsWITA:StockConnectionType"/>
        </xs:sequence>
    </xs:complexType>  
    
    <xs:complexType name="MessageCodeXDSL-B-VZMType">
        <xs:annotation>
            <xs:documentation xml:lang="en">                
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="messageCode" type="segmentsWITA:W038-MessageCodeType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="MessageCodeXDSL-B-TAMType">
        <xs:annotation>
            <xs:documentation xml:lang="en">                
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="messageCode" type="segmentsWITA:W038-MessageCodeType"/>
        </xs:sequence>
    </xs:complexType>
    
     <xs:complexType name="MessageCodeXDSL-B-MTAMType">
        <xs:annotation>
            <xs:documentation xml:lang="en">                
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="messageCode" type="segmentsWITA:W038-MessageCodeType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="MessageCodeXDSL-B-AKM-PVType">
        <xs:annotation>
            <xs:documentation xml:lang="en">                
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="messageCode" type="segmentsWITA:W038-MessageCodeType"/>
        </xs:sequence>
    </xs:complexType>  
    
    <xs:complexType name="MessageCodeXDSL-B-RUEM-PVType">
        <xs:annotation>
            <xs:documentation xml:lang="en">                
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="messageCode" type="segmentsWITA:W038-MessageCodeType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="MessageCodeXDSL-B-ABM-PVType">
        <xs:annotation>
            <xs:documentation xml:lang="en">                
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="messageCode" type="segmentsWITA:W038-MessageCodeType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="MessageCodeXDSL-B-ERLM-PVType">
        <xs:annotation>
            <xs:documentation xml:lang="en">                
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="messageCode" type="segmentsWITA:W038-MessageCodeType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="MessageCodeXDSL-B-ENTM-PVType">
        <xs:annotation>
            <xs:documentation xml:lang="en">                
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="messageCode" type="segmentsWITA:W038-MessageCodeType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="MessageCodeXDSL-B-ABBM-PVType">
        <xs:annotation>
            <xs:documentation xml:lang="en">                
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="messageCode" type="segmentsWITA:W038-MessageCodeType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="MessageCodeXDSL-B-VZM-PVType">
        <xs:annotation>
            <xs:documentation xml:lang="en">                
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="messageCode" type="segmentsWITA:W038-MessageCodeType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MessageCodeXDSL-B-ERLM-KType">
        <xs:annotation>
            <xs:documentation xml:lang="en">                
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="messageCode" type="segmentsWITA:W038-MessageCodeType"/>
        </xs:sequence>
    </xs:complexType>     
     
</xs:schema>
