Test/xsd/inhouse/4.4.0/fields/fieldsACS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- $Revision: 21167 $ $LastChangedDate: 2013-05-10 09:20:52 +0200 (Fri, 10 May 2013) $ -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:fieldsACS="http://www.flexagon.de/acs/fields/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.flexagon.de/acs/fields/"
    elementFormDefault="unqualified">
	
    
    <!-- Candidates for fieldsStandard.xsd -->
    <!-- String exactly 1 -->
	<xs:simpleType name="String1xType">
        <xs:annotation>
            <xs:documentation xml:lang="en">    
                String with exact length 1
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"> 
            <xs:minLength value="1"/>
            <xs:maxLength value="1"/>                  
        </xs:restriction>
    </xs:simpleType>
    
    <!-- String 4 -->
	<xs:simpleType name="String4Type">
        <xs:annotation>
            <xs:documentation xml:lang="en">    
                String with maximum length 4
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"> 
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>                  
        </xs:restriction>
    </xs:simpleType>
    
    <!-- String exactly 4 -->
	<xs:simpleType name="String4xType">
        <xs:annotation>
            <xs:documentation xml:lang="en">    
                String with exact length 4
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"> 
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>                  
        </xs:restriction>
    </xs:simpleType>
    
    <!-- String 6 -->
	<xs:simpleType name="String6Type">
        <xs:annotation>
            <xs:documentation xml:lang="en">    
                String with maximum length  6
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"> 
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>                  
        </xs:restriction>
    </xs:simpleType>
    
    <!-- String 10 -->
	<xs:simpleType name="String10Type">
        <xs:annotation>
            <xs:documentation xml:lang="en">    
                String with maximum length 10
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"> 
            <xs:minLength value="1"/>
            <xs:maxLength value="10"/>                  
        </xs:restriction>
    </xs:simpleType>
    
    <!-- String 20 -->
	<xs:simpleType name="String20Type">
        <xs:annotation>
            <xs:documentation xml:lang="en">    
                String with maximum length 20
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"> 
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>                  
        </xs:restriction>
    </xs:simpleType>
    
    <!-- String 22 -->
	<xs:simpleType name="String22Type">
        <xs:annotation>
            <xs:documentation xml:lang="en">    
                String with maximum length 22
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"> 
            <xs:minLength value="1"/>
            <xs:maxLength value="22"/>                  
        </xs:restriction>
    </xs:simpleType>
    
    <!-- String 50 -->
	<xs:simpleType name="String50Type">
        <xs:annotation>
            <xs:documentation xml:lang="en">    
                String with maximum length 50
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"> 
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>                  
        </xs:restriction>
    </xs:simpleType>
    
    <!-- String 100 -->
	<xs:simpleType name="String100Type">
        <xs:annotation>
            <xs:documentation xml:lang="en">    
                String with maximum length 100
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"> 
            <xs:minLength value="1"/>
            <xs:maxLength value="100"/>                  
        </xs:restriction>
    </xs:simpleType>
    
    <!-- String 500 -->
	<xs:simpleType name="String500Type">
        <xs:annotation>
            <xs:documentation xml:lang="en">    
                String with maximum length 500
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"> 
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>                  
        </xs:restriction>
    </xs:simpleType>
    
     <!-- Number String 0001..9999  -->
     <xs:simpleType name="NumberString4xType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
               Number String 0001..9999
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="4"/>
            <xs:maxLength value="4"/>
            <xs:pattern value="\d{4}"/>
        </xs:restriction>
    </xs:simpleType>
    
     <!-- Number 0000000000..9999999999 -->
     <xs:simpleType name="Number10xType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
               Number, max 10^10-1 front padded with 0
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="10"/>
            <xs:maxLength value="10"/>
            <xs:pattern value="\d{10}"/>
        </xs:restriction>
    </xs:simpleType>
    
     <!-- Number 1..9999999999 -->
     <xs:simpleType name="Number10Type">
        <xs:annotation>
            <xs:documentation xml:lang="en">
               Number, max 10^10-1, no leading zeros
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="10"/>
            <xs:pattern value="[1-9]\d{0,9}"/>
        </xs:restriction>
    </xs:simpleType>   
       
    <!-- Y/N -->
	<xs:simpleType name="ynType">
        <xs:annotation>
            <xs:documentation xml:lang="en">    
                yes or no (Y/N)
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"> 
            <xs:minLength value="1"/>
            <xs:maxLength value="1"/>
            <xs:enumeration value="Y"/>
            <xs:enumeration value="N"/>                  
        </xs:restriction>
    </xs:simpleType>
    
    <!-- 1/0 -->
	<xs:simpleType name="FlagType">
        <xs:annotation>
            <xs:documentation xml:lang="en">    
                1= true or 0 = false
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"> 
            <xs:minLength value="1"/>
            <xs:maxLength value="1"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="0"/>                  
        </xs:restriction>
    </xs:simpleType>
    
	<!-- Postcode Germany (PLZ) -->
	<xs:simpleType name="PostCodeGermanyType">
        <xs:annotation>
            <xs:documentation xml:lang="en">    
                Postcode Germany (PLZ)
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"> 
            <xs:minLength value="5"/>
            <xs:maxLength value="5"/>
        	<xsd:pattern value="\d{5}"/>                  
        </xs:restriction>
    </xs:simpleType>
   
    <!-- IPv4 Address -->	
    <xs:simpleType name="Ipv4AdressType">
        <xs:annotation>
            <xs:documentation xml:lang="en">    
                Internet Protocol version 4 address
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"> 
            <xs:minLength value="7"/>
            <xs:maxLength value="15"/>
        	<xsd:pattern value="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}"/>                  
        </xs:restriction>
    </xs:simpleType>
    
    <!-- IPv6 Address -->	
    <xs:simpleType name="Ipv6AdressType">
        <xs:annotation>
            <xs:documentation xml:lang="en">    
                Internet Protocol version 6 address
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"> 
            <xs:minLength value="39"/>
            <xs:maxLength value="39"/>
        	<xsd:pattern value="([0-9A-Fa-f]{1,4}:){7}[0-9A-Fa-f]{1,4}"/>                  
        </xs:restriction>
    </xs:simpleType>
    
     <!-- Port -->	
    <xs:simpleType name="PortType">
        <xs:annotation>
            <xs:documentation xml:lang="en">    
                Port number
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"> 
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
        	<xsd:pattern value="[12i]{1}"/>                  
        </xs:restriction>
    </xs:simpleType>
    
    <!-- MAC Address -->
    <xs:simpleType name="MACAdressType">
        <xs:annotation>
            <xs:documentation xml:lang="en">    
                Media Access Control address
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"> 
            <xs:minLength value="12"/>
            <xs:maxLength value="17"/>
        	<xsd:pattern value="[0-9a-fA-F]{2}[:\-]{0,1}[0-9a-fA-F]{2}[:\-]{0,1}[0-9a-fA-F]{2}[:\-]{0,1}[0-9a-fA-F]{2}[:\-]{0,1}[0-9a-fA-F]{2}[:\-]{0,1}[0-9a-fA-F]{2}"/>                  
        </xs:restriction>
    </xs:simpleType>
    
    <!-- Date YYYY-MM-DD -->
    <xs:simpleType name="DateType">
        <xs:annotation>
            <xs:documentation xml:lang="en">    
                Date YYYY-MM-DD
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"> 
            <xs:minLength value="10"/>
            <xs:maxLength value="10"/>
        	<xsd:pattern value="\d{4}-\d{2}-\d{2}"/>                  
        </xs:restriction>
    </xs:simpleType>
       
    <!-- Datetime YYYY-MM-DD hh:mm:ss-->
    <xs:simpleType name="DateTimeType">
        <xs:annotation>
            <xs:documentation xml:lang="en">    
                Datetime YYYY-MM-DD hh:mm:ss
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"> 
            <xs:minLength value="10"/>
            <xs:maxLength value="20"/>
        	<xsd:pattern value="\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}"/>                  
        </xs:restriction>
    </xs:simpleType>   
   
</xs:schema>
